<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>488287774085-2pmq7q7d9knjn37pcmh5cpuon6f8kt38.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.488287774085-2pmq7q7d9knjn37pcmh5cpuon6f8kt38</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>488287774085-kl735e11b6lhuv0ii7bntj260bfk8q47.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC9FdEbholPD5S7l6lyKMWhyW0Oc_thxHE</string>
	<key>GCM_SENDER_ID</key>
	<string>488287774085</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.personalFinance</string>
	<key>PROJECT_ID</key>
	<string>personal-finance-app-a918a</string>
	<key>STORAGE_BUCKET</key>
	<string>personal-finance-app-a918a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:488287774085:ios:3a499352d3acd995d510ec</string>
</dict>
</plist>